.creat-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;
    gap: 10px;
}
.btn-cancel-creat{
    width: 80px;
    height: 50px;
    background-color: white;
    color:#8854C0;
}
.btn-delete-creat{
    background-color: white;
    border: none;
}